/* 
// ╔╗ ╔═╗╔╗╔╔╦╗╔═╗
// ╠╩╗║╣ ║║║ ║ ║ ║
// ╚═╝╚═╝╝╚╝ ╩ ╚═╝ 
*/

/* 
//  ┬  ┬┌─┐┬─┐┬┌─┐┌┐ ┬  ┌─┐┌─┐
//  ┐┌┘├─┤├┬┘│├─┤├┴┐│  ├┤ └─┐
//  ┘ ┴ ┴┴└─┴┴ ┴└─┘┴─┘└─┘└─┘ 
 */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap'); /* Font Import */

:root {
  --mocha-rosewater-h: 10;
  --mocha-rosewater-s: 56;
  --mocha-rosewater-l: 91;
  --mocha-rosewater: hsl(var(--mocha-rosewater-h), calc(var(--mocha-rosewater-s) * 1%), calc((var(--mocha-rosewater-l) + 0) * 1%));

  --mocha-text-h: 226;
  --mocha-text-s: 64;
  --mocha-text-l: 88;
  --mocha-text: hsl(var(--mocha-text-h), calc(var(--mocha-text-s) * 1%), calc((var(--mocha-text-l) + 0) * 1%));

  --mocha-surface0-h: 237;
  --mocha-surface0-s: 16;
  --mocha-surface0-l: 23;
  --mocha-surface0: hsl(var(--mocha-surface0-h), calc(var(--mocha-surface0-s) * 1%), calc((var(--mocha-surface0-l) + 0) * 1%));

  --mocha-base-h: 240;
  --mocha-base-s: 21;
  --mocha-base-l: 15;
  --mocha-base: hsl(var(--mocha-base-h), calc(var(--mocha-base-s) * 1%), calc((var(--mocha-base-l) + 0) * 1%));

  --mocha-mantle-h: 240;
  --mocha-mantle-s: 21;
  --mocha-mantle-l: 12;
  --mocha-mantle: hsl(var(--mocha-mantle-h), calc(var(--mocha-mantle-s) * 1%), calc((var(--mocha-mantle-l) + 0) * 1%));

  /* Font Size */
  --fg-primary: 12vh; /* Time and Greetings */
  --fg-secondary: 3vh; /* Greetings and Weather widger */
  --icon: 3vh; /* Icon Size */

  /* Fonts Color */
  --fg: var(--mocha-text); /* Foreground color */
  --sfg: var(--mocha-rosewater); /* Secondary Foreground color */

  --accent: var(--mocha-surface0); /* Hover color */
  --background: var(--mocha-base); /* Background color */
  --cards: var(--mocha-base); /* Cards color */

  /* Image background  */
  --imgbg: url(assets/background.jpg); /* Image URL */
  --imgcol: linear-gradient(217deg,
          rgba(0, 0, 0, 0.54),
          rgba(0, 0, 0, 0.73)
  ); /* Filter color */
}

/*
//  ┌─┐┌┬┐┬ ┬┬  ┌─┐┌─┐
//  └─┐ │ └┬┘│  ├┤ └─┐
//  └─┘ ┴  ┴ ┴─┘└─┘└─┘ 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  transition: 0.2s ease-in-out;
}

a {
  color: var(--sfg);
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: var(--imgcol), var(--imgbg);
  background-size: cover;
}

.container {
  width: 145vh;
  height: 85vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 30px;
  padding: 20px;
}

.card {
  background-color: var(--cards);
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card > span {
  text-align: center;
}

.card:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.35);
}

.reduceGap {
  grid-gap: 2rem !important;
}

.removeGap {
  grid-gap: 0 !important;
}

.feedBlock {
  grid-row: 1 / span 4;
  grid-column: 3 / span 2;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 20px;
  padding-right: 20px;
}

.feedPost {
  color: var(--fg);
  padding: 20px;
  background-color: var(--cards);
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
}

.postAvatar {
  width: var(--icon);
  border-radius: 100%;
}

.postHeader {
  display: flex;
  height: var(--icon);
  line-height: var(--icon);
  vertical-align: center;
  margin-bottom: 0.4em;
  gap: 0.4em;
}

.postLink {
  margin-left: auto;
  color: var(--fg);
}

.postImage {
  width: 100%;
  margin-top: 0.4em;
}

.linksBlock {
  grid-row: 1 / span 4;
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 1.5rem;
}

.linksBlockLeft {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
}

.linksBlockRight {
  grid-row: 3 / span 2;
  grid-column: 1 / span 2;
}

.buttonsContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px;
  padding: 20px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
}

.buttonIcon {
  color: var(--fg);
  font-size: 4rem;
}

.button__1 {
  grid-row: 1;
  grid-column: 1;
}
.button__2 {
  grid-row: 1;
  grid-column: 2;
}
.button__3 {
  grid-row: 2;
  grid-column: 1;
}
.button__4 {
  grid-row: 2;
  grid-column: 2;
}
.button__5 {
  grid-row: 1;
  grid-column: 3;
}
.button__6 {
  grid-row: 2;
  grid-column: 3;
}
.button:hover {
  background-color: var(--accent);
}
.button:hover svg {
  stroke: var(--sfg);
}

/* M E D I A - Q U E R I E S */

@media only screen and (max-width: 68.75em) {
  .container {
    grid-gap: 20px;
    padding: 40px;
  }

  .linksBlockRight {
    display: none;
  }

  .linksBlockLeft {
    grid-column: 1 / span 4;
  }

  .button {
    grid-gap: 3vw;
    padding-left: 100px;
    padding-right: 100px;
  }
}
